<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- create an initializer extension to initialize preferences -->
   <extension
      point="org.eclipse.equinox.preferences.preferences">
	   <initializer
	         class="com.ensoftcorp.open.slice.preferences.SlicePreferences">
	   </initializer>
   </extension>
   
   <!-- adds the prioritized codemap stage for pdg computations -->
   <extension point="com.ensoftcorp.open.commons.codemap">
      <codemap class="com.ensoftcorp.open.slice.codemap.PDGCodemapStage"></codemap>
   </extension>

</plugin>
