<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- create an initializer extension to initialize preferences -->
   <extension
      point="org.eclipse.equinox.preferences.preferences">
	   <initializer
	         class="com.ensoftcorp.open.slice.preferences.SlicePreferences">
	   </initializer>
	</extension>

   <!-- add slice toolbox preference page -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.ensoftcorp.open.slice.ui.SlicePreferencesPage"
            id="com.ensoftcorp.open.slice.ui.preferences"
            name="Program Slicing"
            category="com.ensoftcorp.open.commons.ui.toolbox.preferences">
      </page>
   </extension>
   
   <!-- adds codepainter definitions -->
   <extension point="com.ensoftcorp.open.commons.codepainter">
      <codepainter class="com.ensoftcorp.open.slice.ui.codepainter.ControlDependenceSliceCodePainter"></codepainter>
      <codepainter class="com.ensoftcorp.open.slice.ui.codepainter.DataDependenceSliceCodePainter"></codepainter>
      <codepainter class="com.ensoftcorp.open.slice.ui.codepainter.ProgramDependenceSliceCodePainter"></codepainter>
   </extension>
   
   <!-- adds the prioritized codemap stage for pdg computations -->
   <extension point="com.ensoftcorp.open.commons.codemap">
      <codemap class="com.ensoftcorp.open.slice.codemap.PDGCodemapStage"></codemap>
   </extension>

</plugin>
